// Place all the styles related to the sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#_title {
	text-align: center;
}

.letter {
	display: inline-block;
}

.btn {
	width: 50px;
	height: 50px;
	border-radius: 3px;
	margin: 2px;
}

.keyboard {
	margin: auto 0;
	text-align: center;
	width: 400px;
}


// .btn:hover {
// 	background-color: red;
// }

// .first .inside {
// 	background-color: red ;
// }

// .second .inside {
// 	background-color: green;
// }

// #power {
// 	background-color: blue;
// }
// .btn:nth-child(n+3) {
// 	background-color: green;
// }
// .btn:nth-child(n+2) {
// 	background-color: blue;
// }

// .red {
// 	background-color: #000000;
// }

// .blue {
// 	background-color: #fff;
// }

