<h1>MUHFUKNINHANGMANYO</h1>

<form action="javascript:void(0);" ng-show="entry" ng-submit="getWord()">
	<input type="text" ng-model="enteredWord">
	<button >Set Word</button>
</form>

<h1>{{guesses}}</h1>

<div class="letter" ng-repeat="letter in alphabet" ng-click="clicked(letter)">

	<button class = "btn" ng-class="{red: $index%2==0, blue : !($index%2==0)};" ng-show="button">{{letter}}</button>
<!-- <p class="first" style="background-color: purple;">
	<span class="inside" id="power">inside p1</span>
</p>
<p class="second">
	<span class="inside" id="power">inside p2</span>
</p> -->
</div>

<form action="javascript:void(0);" ng-show="winner" ng-submit="reset()">
	<h1>YOU WIN!!</h1>
	<button >Restart!</button>
</form>

<form action="javascript:void(0);" ng-show="loser" ng-submit="reset()">
	<h1>YOU LOSE!!</h1>
	<button >Restart!</button>
</form>

